### Pandas

In [24]:
import numpy as np

In [25]:
a = np.array([[1, 6],
              [2, 6],
              [3, 11],
              [3, 10],
              [1, 1]])

In [26]:
a.shape

(5, 2)

In [27]:
print (np.mean(a, axis=0))

[2.  6.8]

In [28]:
mean_a = np.array([2, 6.8])

In [29]:
a.shape

(5, 2)

In [30]:
a_centered = a - mean_a
a_centered

array([[-1. , -0.8],
       [ 0. , -0.8],
       [ 1. ,  4.2],
       [ 1. ,  3.2],
       [-1. , -5.8]])

In [39]:
a_centered_sp = np.dot((a_centered[:5]), (a_centered[1:5]))

ValueError: shapes (5,2) and (4,2) not aligned: 2 (dim 1) != 4 (dim 0)

### Numpy

In [1]:
import pandas as pd

In [5]:
authors = pd.DataFrame({'author_id':['1','2','3'],
                   'author_name':['Тургенев','Чехов','Островский']})
authors

  author_id author_name
0         1    Тургенев
1         2       Чехов
2         3  Островский

In [13]:
book = pd.DataFrame({'author_id':['1','1','1','2','2','3','3'],
                   'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                   'price':['450','300','350','500','450','370','290']})
book

  author_id            book_title price
0         1           Отцы и дети   450
1         1                 Рудин   300
2         1     Дворянское гнездо   350
3         2      Толстый и тонкий   500
4         2       Дама с собачкой   450
5         3                 Гроза   370
6         3  Таланты и поклонники   290

In [19]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'inner')
authors_price

  author_id author_name            book_title price
0         1    Тургенев           Отцы и дети   450
1         1    Тургенев                 Рудин   300
2         1    Тургенев     Дворянское гнездо   350
3         2       Чехов      Толстый и тонкий   500
4         2       Чехов       Дама с собачкой   450
5         3  Островский                 Гроза   370
6         3  Островский  Таланты и поклонники   290

In [23]:
top5 = authors_price.nlargest(5, 'price')

TypeError: Column 'price' has dtype object, cannot use method 'nlargest' with this dtype